%nav
  .nav-wrapper.z-depth-3.cyan
    %a.brand-logo{:href => "/"}
      %h1.nav-suff.salt T-Mix
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a.bigger{:href => "/"} Home
.imageback
  %img#heigh{:src => "/assets/lotsmix.jpg"}/  
  .z-depth-5  
    %h1.center.salt.team Meet the Team
    .container.abso.center
      .row
        .col.s4
          .card-panel.cyan.z-depth-3
            %h3.card-title.center Glenn Sullivan
            %span.white-text
              I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks. Here's my GitHub: gpsullivan
        .col.s4
          .card-panel.white.z-depth-3
            %h3.card-title.center Spencer Christopherson
            %span.black-text
              This is another very simple card. I did not copy this from any website, and I actually
              just made it up on my own. I made it just as long as the previous example - except my example
              is way better. Here's my GitHub: spencetacular
        .col.s4
          .card-panel.cyan.z-depth-3
            %h3.card-title.center Noah Loveland
            %span.white-text
              Hey I'm Noah I've fallen in love with programming and building programs. I'm a Full-Stack Developer, I'm a Rubyist, and I'm a computer nerd. I enjoy Break Dancing, video games, and about any other kind of game there is. Here's my GitHub: lovelandnoah, and here is my LinkedIn: https://www.linkedin.com/in/noah-loveland-14aa09112

      %br
        .row
          .col.s4
            .card-panel.white.z-depth-3
              %h3.card-title.center Brian Phelps
              %span.black-text
                I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks. Here's my GitHub: F1nalFortune
          .col.s4
            .card-panel.cyan.z-depth-3
              %h3.card-title.center Sam Hammer
              %span.white-text
                This is another very simple card. I did not copy this from any website, and I actually
                just made it up on my own. I made it just as long as the previous example - except my example is way better. Here's my GitHub: samhammer325
          .col.s4
            .card-panel.white.z-depth-3
              %h3.card-title.center Corey Rugino
              %span.black-text
                This is the last card example. This is going to be the longest example out of any
                of the previous entries. This is because I wanted to have it show something that was 
                bigger than the rest. The bigger - the better. Here's my GitHub: coreyrugino