%nav
  .nav-wrapper.z-depth-3.cyan
    %h1.brand-logo.salt.center.downli Top Songs
    %ul#nav-mobile.left
      %li
        %a.biggers{:href => "/"} Home 
%body.bck
.imageback
  %br
  %br
  .z-depth-5
  .center
    = react_component 'TopSongs'
    .sam= react_component 'Player'
  %br
%br
%br
%br
%br