%div.card-panel.cyan
	%div.card-content.white-text
		%h5.center
			= @mixtape.name
			- @songs.each do |song|
				.tex
					.paddin
						%h5.inline 
							%span 
								= song.name
							%span By:
							%span
								= song.artist
							%button.btn.inlin.flo Play
%img{:alt => "Mountain View", :src => @qr}


