!!!
.container
  %h1.center-align F.A.Q

  %h4.center-align How does this whole thing work?
  %p T-Mix works by using an existing A.P.I. to locate song that you want to listen to and play them for you.  This A.P.I. that we use with our App scours all the websites that host radio broadcast.  With theses two so  urces we can bring all kinds of music to you via the internet.

  %h4.center-align How can i create a mixtape?
  %p You can creat a mixtape once you are logged into out App.  Once you are logged in  , you will hit the create mixtape button with you titel and cadegory filled in. Next  , you will search for artist for the song you would like to listen to on the mixtape  .

  %h4.center-align Why isn't my song playing?
  %p Unfortunatley you song might not be playing anywhere on the internet at this time.

  %h4.center-align What made you want to create this app?
  %p We were thinking of Capstone projects idears threw out the group, and this one in particular had alot of interesting problems to solve (as in talking to another A.P.I., making it as user friendly as possible)

  %h4.center-align Why does my mixtape leave when I click done?
  %p

  %h4.center-align
