/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary-color: #595959 !default;
$secondary-color: #5E1175 !default;
@import "materialize";

a {
  right: 15px;
}

.player {
	height: 100px;
  position: fixed;
  vertical-align: left;
  z-index: 10;
  bottom: 0px;
  border: 4px solid purple;
  /*height: 100px;*/
  /*vertical-align: left;*/
  /*background-color: #000000;*/

}

.noah {
  left: 60%; 
}

.over {
  overflow-y: auto;
}

.row .col.l4 {
    width: 32.33333% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s6 {
    width: 49% !important;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-right: 1% !important;
}

.rightbot {
  float: right;
  top: 10px; 
}

.pictur {
  width: 5px;
  height: 5px;
}

.push {
  margin-left: 15px;
}

.pushlot {
  margin-left: 30px;
}

.socialicon {
  position: fixed;
  bottom: 0px;
  right: 12.25%;
}

.socialicon2 {
  position: fixed;
  top: 25%;
  right: 4%;
}

.mix {
  position: fixed;
  bottom: 0px;
  left: 11.5%;
}

.socialright {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 20%;
  height: 300px;
  background-color: cyan;
}

.iframe{
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
}

.right {
  float: right;
  background-color: green;
}

.stupid {
  text-decoration-color: gray;
}

.marg {
  margin-right: 1%;
}
.nav1 {
  margin-right: 2%;
}
.nav2 {
  margin-right: 2%;
}
.nav3 {
  margin-right: 2%;
}
