@import "newstyle.css.scss";
@import "player.css.scss";
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";


iframe {
	width: 100%;
	height: 100px;
  position: fixed;
  z-index: 10;
  bottom: 0px;
  border: 4px solid purple;
  height: 100px;
  background-color: #000000;
}



.socialright {
	float: right;
	border: 4px solid #059D8F;
}