@import "materialize/components/color";
$primary-color: #595959 !default;
$secondary-color: #5E1175 !default;
@import "materialize";
@import "newstyle.css.scss";
@import "player.css.scss";
@import "font-awesome-sprockets";
@import "font-awesome";

.toop {
  margin-top:10px;
  margin-right:5px;
}

.centerbutton {
  margin-left: 45%;
}


.fright {
  position:absolute;
  bottom:5px;
  right:7px;
}

.fourteen{
  font-size: 14px !important;
}

.card.small .card-content {
  max-height: 100%!important;
}

.input-field{
  width:20%!important;
}
.nav-wrapper {
  height: 90px!important;
  /*bottom: 25px!important;*/
}

.bott {
  /*top:0px!important;*/
  bottom:3px!important;
}

.signin {
  position:absolute;
  top: 300px;
  left: 34%;
}

.signup {
  position:absolute;
  top: 300px;
  left: 52%;
}
.fbook {
  position: absolute;
  top: 82%;
  left: 37%;
}

.faced {
  position:absolute;
  top: 76%;
  left: 36.57%;
}

.tweetd {
  position:absolute;
  top: 76%;
  left: 56%;
}
.twet {
  position: absolute;
  top: 82%;
  left: 57%;
}

.myclass a {
  color:white;
}

.white-text a {
  color:purple;
}

.fourvw{
  font-size: 4vw !important;
}

.buttonvw{
  font-size: 1.3vw;
}


#img {
  height: 450px;
  width: 88%;
}

.email {
  left: 10px;
}

.team {
  position: absolute;
  top: 50px;
  left: 30.4%;
  background-color:white;
  padding-left:10px;
  padding-right:10px;
}

.emailon {
  position:absolute;
  top:12%;
  left:36%;
}

.passon {
  position:absolute;
  top:12%;
  left:60%;
}

.imageback {
   position: relative;
}

.textonpic {
   position: absolute;
   top: 13%;
   left: 15%;
}

#heigh {
height:100%;
width:100%;
}
.abso {
  position:absolute;
  top:30%;
  margin-left:15%;
}

.tex {
  color:white!important;
}

.nav-suff {
  margin-left: 18px;
  margin-top: 21.500px!important;
}

.z {
  z-index: 0;
}

.zi {
  z-index: 10;
}

.ab {
position: absolute;
}

.image {

}

.mixx{
  height: 115px;
}

.anchor {
  right: 15px;
}

.sam {
  margin-left: 23%;
}

#cardHolder{

  display: none;
}


.purp{
  background-color: #896891;
}

.player {
  width: 50%;
	height: 100px;
  position: fixed;
  vertical-align: left;
  z-index: 10;
  bottom: 0px;
  border: 4px solid purple;
  /*height: 100px;*/
  /*vertical-align: left;*/
  /*background-color: #000000;*/

}

.marginn {
  margin-left:10px;
}

.uno {
  margin-right:39px;
}

.noah {
  left: 60%;
}

.over {
  overflow-y: auto;
}

.row .col.l4 {
    width: 32.33333% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s6 {
    width: 49% !important;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-right: 1% !important;
}

.blubtn{
  background-color: #00769C;
}

.whitet {
  color: white!important;
}


.rightbot {
  float: right;
  top: 10px;
}

.pictur {
  width: 5px;
  height: 5px;
}

.logout {
  margin-left: 50px;
}

.push {
  margin-left: 1px;
}

.pushlot {
  margin-left: 70px;
}

.socialicon {
  position: fixed;
  bottom: 0px;
  right: 12.25%;
}

.socialicon2 {
  position: fixed;
  top: 25%;
  right: 4%;
}

.mix {
  position: fixed;
  bottom: 0px;
  left: 11.5%;
}

.socialright {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 15%;
  height: 205px;
  background-color: rgba(62, 138, 123, 0.89);
  border: 5px solid #201025
}

.iframe{
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
}

.right {
  float: right;
}

.stupid {
  text-decoration-color: gray;
}
.nav4 {
  margin-right:1%;
}
.marg {
  margin-right: 2%;
}
.nav1 {
  margin-right: 2%;
}
.nav2 {
  margin-right: 2%;
}
.nav3 {
  margin-right: 2%;
}

/*Brians*/
body {
  background: #896891; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5E1175, #896891); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5E1175, #896891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.trublue {
  background: #576CDB; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #576CDB , #717CCE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #576CDB , #717CCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*Brians*/
}

.border {
 border: 80px solid grey; 
}

.bigger {
  margin-top:15%;
  font-size:25px;

}

.pic{
  height: 50%;
  width: 50%;
}

.card-panel{
  background-color: trublu !important;
}

.salt{
  font-family: 'Rock Salt', serif;
}

.banger{
  font-family: 'Bangers', serif;
}

.inner{
  display: inline;
  margin-left: 39px;
}