body {
  background: #896891;
}

.container {
  width: 800px;
  margin: 0 auto;
}

#crowd1 {
  width:1280px;
  opacity: 0.3;
  position: relative;
}

h1 {
  font-family: sin city;
  color: #ffffff;
  position: absolute;
  top: 35%;
  right: 27%;
}

@font-face {
  font-family: Bold;  
  src: url('sin city.ttf');
}

h5 {

  font-family: sin city;
  color: #ffffff;
  position: absolute;
  top: 55%;
  right: 27%;

}

h2 { 
  left: -40px;

}

.inputdata {
  position: relative;
  top: 45px;

}

.custom-card {
  width: 300px;

}

.card1 {
  width: 1280px;
  left: -10px; 
  background-color: white; 
}


.fa-key{
  color: #896891;
  
}

.fa-sign-in {
  color: #5e1175;

  
}

.fa {
  color: #00aced;
 
}

.fa-facebook-official {
  color: #3b5998;

}



