body {
  background: #896891;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.crowd {
  width:1280px;
  opacity: 0.3;
  position: relative;
}

h1 {
  font-family: sin city;
  color: #ffffff;
  position: relaive;
  top: 20%;
  right: 50%;
}

@font-face {
  font-family: Bold;  
  src: url('sin city.ttf');
}

h5 {
  font-family: sin city;
  color: #ffffff;
  position: absolute;
  top: 40%;
  right: 35%;

}

h2 {   
  color: purple;
  position:relative;

}

.custom-card {
  width: 300px;
}

.col{
  position:relative;
  top: 100px;

}

.card1 {
  width: 1280px;
  left: -10px; 
  background-color: white; 
}

.info {
  text-align: center;
  margin: 20px 0;
  position:relative;
  top: -170px;
  padding:1px;
  color: purple;
}

#padded {
  margin: 10px 10px 100px;
  padding: 10px 10px 100px;
}

#topspaced {
  margin: 50px 5px 10px;
  padding: 50px 5px 10px;
}

/*.fa {
  color: #00aced; 
}

.fa-facebook-official {
  color: #3b5998;
}*/

/*.fa-key{
  color: #896891;
  
}*/

/*.fa-sign-in {
  color: #5e1175;

  
}*/


