body {
  font-family:arial, helvetica;
}
​
/*button {
  outline:0;
}*/
​
#iframe_player {
  position:relative;
  display:block;
  width:100%; 
  height:143px;
  margin:0px auto 0px auto;
  overflow:hidden;
}
​
#artist_image {
  float:left;
}
​
.onnow_title, #onnow_title1 {
  font-size:18px;
  display:block; 
  position:absolute; 
  left:350px; 
  bottom:38px; 
  width:600px;
  height:22px;
  overflow:hidden;
}
​
#onnow_callsign {
  position:absolute;
  font-size:14px;
  bottom:18px;
  left:350px;
  width:600px;
  height:20px;
  overflow:hidden;
}
​
#loading_container {
  position:absolute;
  width:150px;
  height:80px;
  margin:85px auto 0px auto;
  left:0px;
  right:0px;
}
​
.loading_callsign {
  position:absolute;  
  width:500px;
  left:95px;
  top:4px;
  overflow:hidden;
}
​
#rewind, .fast_forward, #rewind_load, #fast_forward_load {
  position:absolute;
  width:60px;
  height:50px;
  background-image:url("../images/player_buttons.png");
  background-repeat:no-repeat;
  cursor:pointer;
}
​
#rewind, #rewind_load {
  background-position:0px -194px;
  top:75px;
  left:0px
}
​
div.rewind_off {
  background-position:0px -55px!important;
  cursor:default!important;
}
​
div.fast_forward_off {
  background-position:-324px -55px!important;
  cursor:default!important;
}
​
.fast_forward, #fast_forward_load {
  background-position:-324px -194px;
  top:75px;
  right:-4px;
}
​
.album_art, #album_art1 {
  position:absolute;
  right:-90px;
  top:65px;
  width:70px;
  height:70px;
  background-image:url("");
  background-repeat:no-repeat;
  background-size:70px auto;
  background-position:50% 0px; 
  /*border:1px solid #545453;*/
}
​
​
#flash_player_shroud, #flash_player_shroud_load {
  position:absolute;
  display:block;
  left:0px;
  right:0px;
  margin:0px auto 0px auto;
  width:128px;
  height:30px;
  background-image:url("../images/play_button_shroud.png");
}
​
#controls_container {
  position:absolute;
  display:block;
  width:250px;
  height:120px;
  left:0px;
  right:0px;
  margin:0px auto 0px auto;
}
​
​
​
#onnow_callsign a {
  color:#006699;
}
​
​
​
#test_player, #nbaac {
  width:1px;
  height:1px;
  position:absolute;
}
​
​
#thumb_container {
  position:absolute;
  width:80px;
  height:35px;
  left:-120px;
  bottom:0px;
}
​
div.thumbs_up, div.thumbs_down {
  width:30px;
  height:35px;
  background-image:url("../images/thumbs.png");
  cursor:pointer;
}
​
div.thumbs_up {
  float:left;
}
​
div.thumbs_up:hover, div.thumbs_up_on {
  background-position:0px -35px;
}
​
div.thumbs_down {
  float:right;
  background-position:-38px 0px;
}
​
div.thumbs_down:hover, div.thumbs_down_on {
  background-position:-38px -35px;
}