/*header, main, body {
  padding-left: 180px;
}
*/

@media only screen and (max-width: 992px) and (min-width: 600px) {
  .side-nav.fixed {
    left: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .large-nav{
    display: none !important;
  }
}

@media screen and (min-width: 600px) {
  .small-nav{
    display: none;
  }
}

.mcard{
  background-color: #00769C !important;
}

.salt{
  font-family: 'Rock Salt', serif;
}

.banger{
  font-family: 'Bangers', serif;
}


h2 {
  font-family: 400 45px/0.5 'Rock Salt', serif;
}
.side-nav {
  width: 180px !important;
  background-color: rgba(62, 138, 123, 0.89) !important;
}

.bluez {
  color: #99ccff !important;
}

.teal {
  color: #3E8A7B;
}

.stylez {
  font-size: medium;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// .height {
//   height: 150px;
// }

.trublue {
  background: #576CDB; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #576CDB , #717CCE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #576CDB , #717CCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.row .col.m4 {
  width: 33.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
  height: 200px;
}

.right{
  float:right;
}

body {
  background: #896891; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5E1175, #896891); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5E1175, #896891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
