%nav
  .nav-wrapper.z-depth-3.cyan.bott
    %a.brand-logo{:href => "#"}
      %h1.nav-suff.salt T-Mix
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a.moove{:href => "static_pages/bio"} About Us
      %li
        %a{:href => "#"} home





