%nav
  .nav-wrapper
    %a.brand-logo.center{:href => "#"} T-Mix
    %ul#nav-mobile.left.hide-on-med-and-down
      %li
        %a{:href => "static_pages/bio"} About Us
      %li
        %a{:href => "/"} Home