%nav
  .nav-wrapper.z-depth-3.cyan.bott
    %a{:href => "#"}= image_tag("Tmix_logo_small_text_and_skull.png", class: "logo")
    %ul#nav-mobile.right
      %li
        %a.moove.bigger{:href => "static_pages/bio"} About Us 
      %li
        %a{:href => "#"} home