%nav
  .nav-wrapper.white
    %a.brand-logo.center.salt.black-text{:href => "#"} T-Mix
    %ul#nav-mobile.left.hide-on-med-and-down
      %li
        %a.black-text{:href => "static_pages/bio"} About Us
      